<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617312307147-pavl3l2g95qt25ss63fr4at50909v9ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617312307147-pavl3l2g95qt25ss63fr4at50909v9ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAeLHbGrjHTISiQfZUzyt5r4lNBunzMTrg</string>
	<key>GCM_SENDER_ID</key>
	<string>617312307147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCommarce</string>
	<key>PROJECT_ID</key>
	<string>e-commarce-iti</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commarce-iti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617312307147:ios:da159f6af51bcce24e584e</string>
</dict>
</plist>